extends layout

block content
  h1 Administrator Portal
  if !user
      h5 Login or Signup to view the inventory.
  if user
      h5 Navigate to Inventory.
  
  .container
    img.image(src="https://www.tracindia.org/assests/image/login.png" )
