extends ../layout

block content
    h1 ART & CRAFT EMPORIUM
    p Home to the best art and craft material. 
    h5 All available right at your doorstep!

    .container
    img(src="https://sc02.alicdn.com/kf/Hc9b426df1fcc40468c453dbd1040ab84K.jpg_350x350.jpg", class="detImg", alt="")
    img(src="https://ae01.alicdn.com/kf/H5fe0e953fe1a456ca7f6291316a8c6d2I/4Pcs-JIANPIN-Cute-Gel-Pen-Stationary-Kawaii-School-Supplies-Gel-Ink-Pen-School-Stationary-Office-Suppliers.jpg_350x350.jpg",class="detImg", alt="")
    img(src="https://sc01.alicdn.com/kf/HTB1Zjy9bKkJL1JjSZFmq6Aw0XXau.jpg_350x350.jpg",class="detImg", alt="")