extends ../layout

block content
    h2 Add into Inventory
    
    form(action="/products/add", method="post")
        .form-group
            label(for="name") Item Name
            input#name(type="text", class="form-control", name= "name")
        .form-group
            label(for="price") Unit Price
            input#price(type="text", class="form-control", name= "price")
        .form-group
            label(for="quantity") Quantity
            input#quantity(type="text", class="form-control", name = "quantity")
        input(type="submit", class="btn btn-success")
    