extends ../layout

block content
    .row
        .col-sm-12
             h1=title
             h6 Some available upon pre-order only.
       
    table.table
        thead
            tr
                th Name
                th Price
                th Quantity
                th To Select
        
        tbody
            each product in products
                tr
                    td= product.name
                    td= product.price
                    td= product.quantity
                    td
                        a(href="/products/cart/" + product._id, class="btn btn-success" ) Add To Cart
                        
                    
                    
                    